@charset "UTF-8";
* {
  position: relative;
  font-family: "Mukta", sans-serif, 微軟正黑體;
}

html, body {
  padding: 0px;
  margin: 0px;
  background-color: #e6d1df;
  user-select: none;
}

nav.navbar {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

a.navbar-brand {
  opacity: 0;
}

header {
  height: 550px;
}
header .content {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  background-image: url(http://1.bp.blogspot.com/-wThmsmqYGeQ/Vff3P89_INI/AAAAAAAAXLE/9ka64BAYGeY/s1600/Craftholic%2BLoris%2BSoft%2BTexture%2BDetail%2B00.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow: hidden;
}
header .content img#catimg {
  position: absolute;
  top: 0px;
  margin-left: 10px;
  transform: rotate(180deg);
}
header .content img#lightbulb {
  position: absolute;
  transform: rotate(100deg);
  left: 260px;
  top: 100px;
  opacity: 0;
  transition: 0.5s;
}
header .content img#go {
  width: 100px;
  position: absolute;
  right: 0px;
  top: 400px;
  transition: 2s;
  transform: translateX(120px);
}
header .explore {
  color: #ccc;
  font-size: 20px;
  bottom: 80px;
  animation: exp 2s infinite;
  cursor: pointer;
}
header .explore h5 {
  opacity: 1;
}
header a.explore:hover {
  text-decoration: none;
}
header .bottom {
  min-width: 900px;
  background-image: url(https://i.imgur.com/xRlHSfM.png);
  position: absolute;
  background-size: 115% auto;
  background-position: center 0;
  top: 310px;
  left: -120px;
  width: 1200px;
  height: 300px;
}

@keyframes exp {
  50% {
    color: #555;
  }
}
section#about .content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1024px;
  width: 100%;
  height: 600px;
  background-color: #fff;
  overflow: hidden;
}
section#about .content h3 {
  padding: 10px;
  display: inline-block;
  color: #444;
  border-radius: 60px;
  border-style: dashed;
}
section#about .content .board {
  width: 80%;
  height: 455px;
  background-color: #fff494;
  position: absolute;
  margin-top: 10px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 20px;
  overflow: hidden;
}
section#about .content .board .loris {
  position: absolute;
  transform: rotate(180deg);
  right: -10px;
  top: -10px;
  transition: 1s;
}
section#about .content .infos {
  position: absolute;
  left: 60%;
  white-space: nowrap;
  opacity: 0;
  color: #555;
}
section#about .content .rowin {
  animation: row 1.5s both;
}
section#about .content .cha {
  display: inline-block;
  top: 50%;
  transition: 0.5s;
}
section#about .content .cha .name {
  font-size: 36px;
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  padding: 10px;
  color: #444;
  opacity: 0;
  transition: 0.5s 0.2s;
}
section#about .content .cha:hover .name {
  opacity: 1;
}
section#about .content .cha#rab {
  margin-left: 20px;
}
section#about .content .up {
  top: 0px;
}

@keyframes row {
  0% {
    left: 60%;
    opacity: 0;
  }
  100% {
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
  }
}
section#product .content {
  max-width: 1024px;
  padding: 50px 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fffcab;
}
section#product .content .product {
  left: 25px;
  font-family: "Indie Flower", cursive;
  font-weight: 900;
  font-size: 50px;
  color: #444;
  border: solid 3px #fa594b;
  border-style: dashed;
  display: inline-block;
  padding: 2px 10px;
  margin-bottom: 15px;
  line-height: 22px;
  border-radius: 10px;
}
section#product .content .row {
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
section#product .content .row .col-sm-6 {
  font-size: 0px;
  padding: 0px;
}
section#product .content .row .col-sm-6:hover .p {
  opacity: 0;
}
section#product .content .row .col-sm-6:hover .img {
  filter: brightness(1);
  background-size: auto 132%;
}
section#product .content .row .col-sm-6 .p {
  position: absolute;
  color: #ddd;
  font-size: 16px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  letter-spacing: 3px;
  opacity: 1;
}
section#product .content .row .col-sm-6 .img {
  height: 280px;
  background-size: auto 122%;
  background-position: center center;
  filter: brightness(0.4);
  transition: 0.5s;
  margin: 5px;
}
section#product .content .row #po1 {
  background-image: url(https://img.toy-people.com/member/161586671721.jpg);
}
section#product .content .row #po2 {
  background-image: url(https://img.hktdc.com/eyJidWNrZXQiOiJjbXMtaW1nbGliLXByZCIsImtleSI6ImFsYy8yMDIwMDcwMi80c3R1cjV3Yy1NVFUwTWpjM01EVTVPVGczTmw5QlkyTmxiblF0Y0dodmRHOWZNVEUzTWpFPS5qcGVnIiwicmVnaW9uIjoiYXAtc291dGhlYXN0LTEiLCJmb3JtYXQiOiJqcGVnIiwicXVhbGl0eSI6MTAwLCJlZGl0cyI6e319);
}
section#product .content .row #po3 {
  background-image: url(https://img.ruten.com.tw/s1/c/24/f9/21852335974649_686.jpg);
}
section#product .content .row #po4 {
  background-image: url("https://img.4gamers.com.tw/ckfinder/images/Panda/Toys/2101/210323-craftholic-%20(12).jpg?versionId=xTJqzmwyr5wT6dRZYd326RnXkWUMqAUv");
}

section#store .content {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
section#store .content .col-sm-7 iframe.map {
  border: none;
  width: 100%;
  height: 100%;
  font-size: 0px;
}
section#store .content .col-sm-5 {
  padding: 20px;
  padding-right: 50px;
}
section#store .content .col-sm-5 h3.store_tittle {
  font-family: "Indie Flower", cursive;
  padding-top: 50px;
  padding-bottom: 10px;
  line-height: 30px;
  font-weight: bold;
  font-size: 46px;
  color: #444;
  border-bottom: solid 3px #fa594b;
  border-bottom-style: dashed;
}
section#store .content .col-sm-5 h5 {
  font-weight: bold;
  cursor: pointer;
}

section#contact .content {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-color: #eee;
  overflow: hidden;
}
section#contact .row {
  max-width: 1024px;
  left: 10px;
  color: #444;
}
section#contact .row .col-sm-7 {
  padding: 30px 0px;
}
section#contact .row .envelope {
  width: 180px;
  position: absolute;
  z-index: 5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: 0.5s 0.5s;
}
section#contact .row .mail {
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  background-color: #fff;
  width: 80%;
  border-radius: 10px;
  min-width: 500px;
  opacity: 1;
  transition: 1s;
}
section#contact .row .mail label, section#contact .row .mail .form-control {
  margin: 10px 0px;
}
section#contact .row .mail textarea {
  height: 180px;
}
@media screen and (max-width: 800px) {
  section#contact .row .col-sm-5 {
    display: none;
  }
}
section#contact .row .col-sm-5 .send {
  margin-top: 40%;
  left: -10px;
}
section#contact .row .col-sm-5 .send h2 {
  font-weight: bold;
  border: solid 3px #fa594b;
  display: inline-block;
  border-style: dashed;
  padding: 2px 20px;
  border-radius: 30px;
  animation: border_light 1s infinite;
}
section#contact .row .col-sm-5 .send h6 {
  letter-spacing: 2px;
  line-height: 28px;
}
section#contact .row .col-sm-5 .send button.btn.btn-outline-secondary {
  border-radius: 22px;
}
section#contact .row .col-sm-5 .send button.btn.btn-outline-secondary:hover {
  background-color: #fa594b;
}

@keyframes border_light {
  50% {
    border-color: #fb877d;
  }
}
@keyframes send {
  0% {
    transform: translate(-50%, -50%);
  }
  100% {
    transform: translate(1000px, -50%);
    opacity: 0;
  }
}
footer .content {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fffcab;
}
footer .content img.icon {
  padding: 30px 0px;
  width: 150px;
  left: 50%;
  transform: translateX(-50%);
}