nav.navbar.navbar-expand-sm.navbar-light.fixed-top
  a.navbar-brand(href='#header') CRAFTHOLIC
  button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbar' aria-controls='navbar' aria-expanded='false' aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbar.collapse.navbar-collapse
    ul.navbar-nav.ml-auto
      li.nav-item
        a.nav-link(href='#about')
          | Character 
          span.sr-only (current)
      li.nav-item
        a.nav-link(href='#product') Product
      li.nav-item
        a.nav-link(href='#store') Store
      li.nav-item
        a.nav-link(href='#contact') Contact

header#header
  .content     
    .bottom

    img#catimg(src="https://i.imgur.com/6cz5CNn.png", alt="")
    img#lightbulb(src="https://i.imgur.com/vaCtG59.png")
    img#go(src="https://stickershop.line-scdn.net/stickershop/v1/sticker/8524452/android/sticker.png", alt="" data-0="transform: translateX(120px)" data-180="transform: translateX(-230%)")
  a.explore.text-center(href="#about")
    h5#exp explore<br>
      i.fas.fa-angle-double-down
    
section#about
  .content.text-center
    br
    h3 Character introduction
    br
    .board
      .loris
        img(src="https://i.imgur.com/OybJaIK.png", alt="")
    br
    h5.infos 
    br
    .cha#rab
      .name Rab
      img(src="https://i.imgur.com/HGWpeIw.png", alt="")
    .cha#sloth
      .name Sloth
      img(src="https://i.imgur.com/GOYn3a4.png", alt="")
    .cha#korat
      .name Korat
      img(src="https://i.imgur.com/VmSATiU.png", alt="")
    .cha#loris
      .name Loris
      img(src="https://i.imgur.com/uUOZRTN.png", alt="")

section#product
  .content
    .product(data-bottom-top="transform:translateX(300px)" data-center="transform:translateX(0px)") Product
    .row
      .col-sm-6
        .p 鬼滅之刃聯名款
        .img#po1
      .col-sm-6
        .p 宇宙人大抱枕
        .img#po2
    .row
      .col-sm-6
        .p 聖誕節限定
        .img#po3
      .col-sm-6
        .p 萬用小吊飾
        .img#po4
section#store
  .content
    .row
      .col-sm-7
        iframe.map(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d89766.81073988769!2d120.51641656793954!3d24.244924173779705!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x34696b036b33228f%3A0x9ebbf30d5eff33f6!2zQ1JBRlRIT0xJQ-Wuh-WumeS6uiDlj7DkuK3kuInkupXlupc!5e0!3m2!1szh-TW!2stw!4v1646067278569!5m2!1szh-TW!2stw" allowfullscreen="" loading="lazy")
      .col-sm-5.text-center
        h3.store_tittle Store
        br
        ul
         li 
           h5#store01 CRAFTHOLIC宇宙人 台北京站店
           p 10351台北市大同區承德路一段1號(B1)<br>0225557767
         li 
           h5#store02 CRAFTHOLIC宇宙人 台中三井店
           p 435台中市梧棲區臺灣大道十段168號
section#contact
  .content
    .row
      .col-sm-7
        img.envelope(src="https://i.imgur.com/qmhi5UV.png")
        .mail
          .row
            .col-sm-3
              label Name
            .col-sm-8
              input.form-control.form-control-sm
          .row
            .col-sm-3
              label Phone
            .col-sm-8
              input.form-control.form-control-sm
          .row
            .col-sm-3
              label Email
            .col-sm-8
              input.form-control.form-control-sm
          .row
            .col-sm-3
              label Content
            .col-sm-8
          .row
            .col-sm-12
              textarea.form-control.form-control-sm
      .col-sm-5.text-center
        .send
          h2 Contact Us
          br
          br
          h6 如果您有任何問題與建議，<br>歡迎聯繫我們！
          button.btn.btn-outline-secondary#btn Submit
    
footer
  .content
    img.icon(src="https://stickershop.line-scdn.net/stickershop/v1/product/1209879/LINEStorePC/main.png;compress=true")
